.panel.panel-info
	.panel-heading
		h3.panel-title fiche auteur
	.panel-body
		.media
			.pull-left
				img.media-object(src="http://placehold.it/100x100" alt="...")
			.media-body
				h4.media-heading= author.name
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Vitae at, quod sint consectetur molestiae labore dolorem
					quos quis aspernatur voluptates nobis, aut, aliquam quisquam 
					officiis. Tenetur vero illo beatae quod.