
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">fiche auteur</h3>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="pull-left"><img src="http://placehold.it/100x100" alt="..." class="media-object"/></div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Vitae at, quod sint consectetur molestiae labore dolorem
          quos quis aspernatur voluptates nobis, aut, aliquam quisquam 
          officiis. Tenetur vero illo beatae quod.
        </p>
      </div>
    </div>
  </div>
</div>