.panel.panel-default
	.panel-heading Catégories
	.panel-body
		p Blablabla..!
	ul.list-group
		li.list-group-item Catégorie1
		li.list-group-item Catégorie2
		li.list-group-item Catégorie3
		li.list-group-item Catégorie4
		li.list-group-item Catégorie5